:root{

    --background: #5c0f0f;
    --calculator: #bebebe;
    --number__keys: #00807a;
    --del_clear__keys: #e2a024;
    --operator__keys: #006eff;
    --number__display: #83d683b4;
    --tamanho__fonte: 16px;

}

.calculator__container{
    background-color: var(--calculator);
    text-align: center;
}

.calculator__keys{
    display: flex;
    justify-content: center;
}

.calculator__keys_numbers{
    display: grid;

    justify-content: center;
    align-items: center;
    gap: 10px
}

.calculator__keys_numbers{
    grid-template-columns: repeat(3, 100px);
    background-color: var(--number__display);
}

.calculator__keys_operators{
    grid-template-columns: 100px;
    background-color: var(--operator__keys);
}

.key__number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}