:root{

    --background: #5c0f0f;
    --calculator: #bebebe;
    --calculator__shadow: #bebebe80;
    --number__keys: #00807a;
    --number__keys_shadow: #00807a70;
    --clear__keys: #e2a024;
    --clear__keys_shadow: #e2a02460;
    --del__key: #b90f0f;
    --del__key_shadow: #b90f0f70;
    --operator__keys: #006eff;
    --operator__keys_shadow: #006eff70;
    --display__color: #83d683b4;
    --white: #ffffff;

}

body{
    width: 100%;
    height: 100%;
    background: url('math_background.jpg') var(--background);
}

.calculator__container{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background-color: var(--calculator);
    padding: 30px 0;
    box-shadow: 7px 5px var(--calculator__shadow);
}

.calculator__display{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 360px;
    height: 80px;
    background-color: var(--display__color);
    margin: 10px auto 30px;
    border-radius: 5px;
}

.display__text{
    font-size: 30px;
    color: var(--white);
    margin-right: 20px;
}

.calculator__keys{
    display: flex;
    justify-content: center;
}

.calculator__keys_numbers, .calculator__keys_operators{
    display: grid;
    gap: 10px;
}

.calculator__keys_numbers{
    grid-template-columns: repeat(3, 80px);
    margin-right: 20px;
}

.calculator__keys_operators{
    grid-template-columns: 80px;
}

.key__number, .key__operator, .key__results{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    color: var(--white);
    font-size: 28px;
}

.key__number{
    background-color: var(--number__keys);
    box-shadow: 4px 3px var(--number__keys_shadow);
}

.key__number:active{
    background-color: var(--number__keys_shadow);
    box-shadow: none;
}

.key__operator, .key__results{
    background-color: var(--operator__keys);
    box-shadow: 4px 3px var(--operator__keys_shadow); 
}

.key__operator:active, .key__results:active{
    background-color: var(--operator__keys_shadow);
    box-shadow: none;
}

.key__results{
    width: 360px;
    margin: 30px auto 10px;
}

.clear__display{
    background-color: var(--clear__keys);
    box-shadow: 4px 3px var(--clear__keys_shadow);
}

.clear__display:active{
    background-color: var(--clear__keys_shadow);
    box-shadow: none;
}

.erase__number{
    background-color: var(--del__key);
    box-shadow: 4px 3px var(--del__key_shadow);
}

.erase__number:active{
    background-color: var(--del__key_shadow);
    box-shadow: none;
}