:root{

    --background: #5c0f0f;
    --calculator: #bebebe;
    --number__keys: #00807a;
    --del_clear__keys: #e2a024;
    --operator__keys: #006eff;
    --number__display: #83d683b4;
    --tamanho__fonte: 16px;

}

.calculator__container{
    text-align: center;
    background-color: var(--calculator);
}

.calculator__keys{
    display: flex;
    justify-content: center;
}

.calculator__keys_numbers, .calculator__keys_operators{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    border-radius: 10px;
    margin: 5px;
    gap: 10px;
}

.calculator__keys_numbers{
    background-color: var(--number__keys);
}

.calculator__keys_operators{
    grid-template-columns: 100px;
    background-color: var(--operator__keys);
}

.key__number, .key__operator{
    text-align: center;
    height: 80px;
    padding: calc(50% - var(--tamanho__fonte)) 0 0;
    margin: 5px;
}
