:root{

    --background: #5c0f0f;
    --calculator: #bebebe;
    --number__keys: #00807a;
    --del_clear__keys: #e2a024;
    --operator__keys: #006eff;
    --number__display: #83d683b4;
    --white: #ffffff;

}

.calculator__container{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    background-color: var(--calculator);
}

.calculator__keys{
    display: flex;
    justify-content: center;
}

.calculator__keys_numbers, .calculator__keys_operators{
    display: grid;
    margin: 5px;
    gap: 2px;
}

.calculator__keys_numbers{
    grid-template-columns: repeat(3, 80px);
}

.calculator__keys_operators{
    grid-template-columns: 80px;
}

.key__number, .key__operator{
    text-align: center;
    height: 60px;
    padding: calc(50% - 1em) 0 0;
    margin: 5px;
    border-radius: 5px;
    color: var(--white);
}

.key__operator{
    background-color: var(--operator__keys);
        font-size: 20px;
}

.key__number{
    background-color: var(--number__keys);
}